@using TestHarness.Models
@inherits KarbonView<TestHarness.Models.Brand>
@{
    Layout = "_Layout.cshtml";
}

BRAND PAGE - @Model.CurrentPage.Name - @Model.CurrentPage.Slug - @Model.CurrentPage.Depth
<ul>
    @foreach (var child in Model.CurrentPage.Children<Product>(x => x.IsVisible()))
    {
        <li>@child.Name</li>
    }
</ul>
@Html.Md(Model.CurrentPage.Body)
