@using TestHarness.Models
@inherits KarbonView<Home>

<h2>HOME PAGE - @Model.CurrentPage.Name - @Model.CurrentPage.Depth</h2>
@foreach (var child in Model.CurrentPage.Children())
{
    <p>
        <span>RelativeUrl:</span> @(child.RelativeUrl) <br /> 
        <span>Url:</span> @(child.Url())<br />
        <span>IsChildOf:</span> @child.IsChildOf(Model.CurrentPage)<br />
        <span>IsAncestorOf:</span> @Model.CurrentPage.IsAncestorOf(child)<br />
        <span>Parents:</span> @(string.Join(", ", child.Parents().Select(x => x.TypeName)))
    </p>
}

<h2>Products</h2>
<ul>
    @foreach(var product in Model.HomePage.Find<Product>(x => x.IsVisible()))
    {
        <li>@product.Name</li>
    }
</ul>

<p>
    @Model.CurrentPage.IsOpen() <br />
    @(Model.CurrentPage.Get<IEnumerable<string>>("keys"))
</p>
