@using TestHarness.Models
@inherits KarbonView<TestHarness.Models.Home>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        HOME PAGE - @Model.CurrentPage.Depth
        <br />
        @foreach (var child in Model.CurrentPage.Children())
        {
            @(child.RelativeUrl) <br /> @(child.Url())<br />
        }
        
        <h2>Products</h2>
        <ul>
            @foreach(var product in Model.HomePage.Find<Product>(x => x.IsVisible()))
            {
                <li>@product.Name</li>
            }
        </ul>
        @Model.CurrentPage.IsOpen()<br />
    </div>
</body>
</html>
