@using TestHarness.Models
@inherits KarbonView<TestHarness.Models.Home>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        HOME PAGE - @Model.CurrentPage.Name - @Model.CurrentPage.Depth
        <br />
        @foreach (var child in Model.CurrentPage.Children())
        {
            <br />
            <span>RelativeUrl:</span> @(child.RelativeUrl) <br /> 
            <span>Url:</span> @(child.Url())<br />
            <span>IsChildOf:</span> @child.IsChildOf(Model.CurrentPage)<br />
            <span>IsAncestorOf:</span> @Model.CurrentPage.IsAncestorOf(child)<br />
            <span>Parents:</span> @(string.Join(", ", child.Parents().Select(x => x.TypeName)))<br />
        }
        
        <h2>Products</h2>
        <ul>
            @foreach(var product in Model.HomePage.Find<Product>(x => x.IsVisible()))
            {
                <li>@product.Name</li>
            }
        </ul>
        @Model.CurrentPage.IsOpen()<br />
        @(Model.CurrentPage.Data.GetValue<IEnumerable<string>>("keys"))
    </div>
</body>
</html>
