@using TestHarness.Models
@inherits KarbonView<Product, Home>
@{
    Layout = null;

    var url = Request.Url;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @(Model.CurrentPage.Parent<Brand>().Title) - @Model.CurrentPage.Name - @Model.CurrentPage.Depth<br />
        @Model.CurrentPage.IsOpen()<br />
        @Model.CurrentPage.Parent().IsOpen()<br />
        @Model.HomePage.IsOpen()
        <br /><br />
        <h4>Files</h4>
        @foreach(var file in Model.CurrentPage.Images())
        {
            <p><img src="@file.Fit(100)" alt=""/></p>
        }
    </div>
</body>
</html>
